.hidden {
    display: none;
}

.flex {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

button, input[type=button], input[type=submit] {
    padding: 10px;
    border-radius: 8px;
    background-color: azure;
}

.previous-button {
    background-color: lightpink;
}

.next-button {
    background-color: lightgreen;
}
